/*fondo de la pagina*/

body{

    height: 100vh;
    margin: 0;
    background:linear-gradient(to top, #c76abf, #1624a8);
}
.barra{
    width: 100%;
    height: 90px;
    background-color: rgb(146, 24, 202);
    z-index: 999;
    position: relative;
    /*centrar*/
    display: flex;
    align-items: center;
    position: relative;
} /*position: relative;*/
/*width: 100%;*/
h1 {
    font-family: Arial, sans-serif;
}
.boton{
    position:absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    font-weight: bold;
    padding: 6px 20px;
    font-size: 13px;
    color:#c0820d;
    border:#050504;
    border-radius: 50px;
    background-color: #110e08;
    cursor: pointer;
    transition: all 0.5s ease;
}
.boton:hover{
    background-color: #e4dbca;
    transform: scale(1);
}
.boton2{
    position:absolute;
    right: 110px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    font-weight: bold;
    padding: 6px 20px;
    font-size: 13px;
    color:#b67f18;
    border:#050504;
    border-radius: 50px;
    background-color: #110e08;
    cursor: pointer;
    transition: all 0.5s ease;
}
.boton2:hover{
    background-color: #e4dbca;
    transform: scale(1);
}
.boton3{
    position:absolute;
    right: 200px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    font-weight: bold;
    padding: 6px 20px;
    font-size: 13px;
    color:#c0820d;
    border:#050504;
    border-radius: 50px;
    background-color: #110e08;
    cursor: pointer;
    transition: all 0.5s ease;
}
.boton3:hover{
    background-color: #e4dbca;
    transform: scale(1);
}
.link{
    color:#c0820d
}
div {
    bac
}
