/*fondo de la pagina*/
body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background:radial-gradient(circle,rgba(182, 133, 175, 0.39) 0%, rgb(27, 13, 27) 100%);
    overflow-x: hidden;
}
#copos{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(copos3.png);
    background-repeat: repeat;
    pointer-events: none;
    z-index: 999;
    opacity: 0.2;
}
.barra{
    width: 100%;
    height: 70px;
    background-color: rgb(114, 8, 100);
    z-index: 999;
    position: relative;
    /*centrar*/
    display: flex;
    align-items: center;
    position: relative;
} /*position: relative;*/
/*width: 100%;*/
.titulo {
    font-family: lobster;
    font-weight: 800;
}
.titulo2 {
    font-family: lobster;
    font-weight: 800;
}
.boton{
    position:absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    padding: 6px 20px;
    font-weight: bold;
    font-size: 13px;
    color:#c0820d;
    border:#050504;
    border-radius: 50px;
    background-color: #110e08;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
}
.boton:hover{
    background-color: #e4dbca;
    transform: scale(1);
}
.boton2{
    position:absolute;
    right: 122px;
    top: 50%;
    transform: translateY(-50%);
    padding: 6px 20px;
    font-weight: bold;
    font-size: 13px;
    color:#b67f18;
    border:#050504;
    border-radius: 50px;
    background-color: #110e08;
    cursor: pointer;
    transition: all 0.5s ease;
     text-decoration: none;
}
.boton2:hover{
    background-color: #e4dbca;
    transform: scale(1);
}
.boton3{
    position:absolute;
    right: 209px;
    top: 50%;
    transform: translateY(-50%);
    padding: 6px 20px;
    font-weight: bold;
    font-size: 13px;
    color:#c0820d;
    border:#050504;
    border-radius: 50px;
    background-color: #110e08;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
}

.boton3:hover{
    background-color: #e4dbca;
    transform: scale(1);
}
.link{
    color:#c0820d
}
/*movimiento de barra*/
#mibarra {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0%;
    color: white;
    transition: top 0.3;
    z-index: 999;
}
.comentario{
    margin: 9% 0 9% 5%;
    color: #8d1b7e;
    width: 100%;
    font-size: 130%;
}
.comentario1{
    color: white;
}
.comentario2{
    color: #2c1f2a;
}
.comentario3{
    color: #faf8f2;
    font-size: 320%;
}
.comentario4{
    color: #2c1f2a;

}
.comentario5{
    color: rgb(53, 15, 51);
    font-size: 70%;
}
.circular{
    width: 300px;
    height: 260px;
    border-radius: 50%;
    border: 4px solid rgb(82, 23, 77);
    position: absolute;
    top: 23%;
    left: 60%;
    max-width: 90%;
}
.barra2{
    margin-top: auto;
    width: 100%;
    background: #5c1c64;
    padding: 10%;
    text-align: center;

}
/*imagenes*/
.galeria {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    padding-bottom: 80px;
    flex-wrap: wrap;
}

.item {
    text-align: center;
    width: 250px;
    color: white;
    max-width: 90%;
}

.titulo-img {
    font-family: 'Lobster', cursive;
    font-size: 22px;
    margin-bottom: 10px;
    color: rgb(247, 226, 117);
}

.foto {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid rgb(82, 23, 77);
}

.desc {
    margin-top: 10px;
    font-size: 14px;
    color: rgb(230, 230, 230);
}
.boton5{
    position:absolute;
    right: 450px;
    transform: translateY(-50%);
    padding: 8px 20px;
    font-weight: bold;
    font-size: 13px;
    color:#c0820d;
    border:#050504;
    border-radius: 50px;
    background-color: #110e08;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
}
.container{
    text-align: center;
    max-width: 800px;
    margin: 0;
}
.boton4{
  padding: 15px 20px;
    font-weight: bold;
    font-size: 13px;
    color: #c0820d; 
    border: 3px solid #050504;
    border-radius: 50px;
    background-color: #110e08;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top: 10px;
    text-decoration: none;
 }
